<%- include('partials/header') %>

<div class="jumbotron jumbotron-fluid centered">
  <div class="container text-center">
    <i class="fas fa-key fa-6x mb-4"></i>
    <h1 class="display-4">Secrets</h1>
    <p class="lead">Don't keep your secrets, share them anonymously!</p>
    <hr class="my-4">
    <div class="d-flex justify-content-center flex-wrap">
      <a class="btn btn-light btn-lg mx-2 mb-2" href="/register" role="button">Register</a>
      <a class="btn btn-dark btn-lg mx-2 mb-2" href="/login" role="button">Login</a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
