<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-5x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <% if (secrets && secrets.length > 0) { %>
      <div class="row">
        <% secrets.forEach((secret) => { %>
          <div class="col-md-6 offset-md-3">
            <div class="card mb-3">
              <div class="card-body">
                <h1 class="card-title">Secret</h1>
                <p class="card-text"><%= secret %></p>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
    <% } else { %>
      <p class="secret-text">No secrets submitted yet.</p>
    <% } %>
    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
