<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-5x"></i>
    <h1 class="display-3 mt-3">You've Discovered My Secret!</h1>

    <% if (secrets && secrets.length > 0) { %>
      <div class="row mt-4">
        <% secrets.forEach((secret) => { %>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Secret</h5>
                <p class="card-text"><%= secret %></p>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
    <% } else { %>
      <p class="secret-text mt-4">No secrets submitted yet.</p>
    <% } %>

    <hr class="my-4">

    <div class="d-flex justify-content-center mt-4">
      <a class="btn btn-light btn-lg mx-2" href="/logout" role="button">Log Out</a>
      <a class="btn btn-dark btn-lg mx-2" href="/submit" role="button">Submit a Secret</a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
